tools/*
libs/*
*.pyc
*.tex
*.log
*.zip
*.lprof
log
bred.*
test.bat
bin
bin/*
build
.doctree/*
*.stackdump
*.kpf
e
ee
tmp/*
tests/*
*.bak
tmp
idea/*
.idea/*
*.html
*.komodoproject
.komodotools
docs/*
*.egg-info
dist
